SetEnv PHP_VER 5

#ErrorDocument 404 /engine/admin/core/pages/404.php
#ErrorDocument 403 /engine/admin/core/pages/403.php

ErrorDocument 404 /engine/admin/core/pages.php?operation=404
ErrorDocument 403 /engine/admin/core/pages.php?operation=403

#deny from all
allow from 82.139.61.203 #mgs_saladin

allow from all